body {
    margin: 0;
    background-color: #353431;
    color: #F5F2EA;

    font-family: Georgia, "Times New Roman", serif;

    line-height: 1.5;
    font-size: 18px;
    text-align: justify; 
}

header {
    text-align: center;
    padding: 40px 20px;
}

.LOGO{
    width: 170px;
    height: auto;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #ab8714;
    font-family: 'Times New Roman', serif;
}

.tagline {
    font-size: 20px;
    margin: 10px 0 0 0;
    font-style: italic;
    color: #efd494;
}

.owner {
    font-size: 16px;
    margin: 5px 0 0 0;
    font-style: italic;
    color: #e4c782;
}

 
h2 {
    font-size: 28px;
    margin: 20px 0 10px 0;
    color: #ceb359;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}

.book {

    background-color: #F5F2EA;
    color: #1C1C1C;
    padding: 15px;
    border: 2px solid #C9A227;
    border-radius: 8px;
    text-align: center;
}

h3{

    color: #6B5315;
    font-family: Georgia, serif;
    font-size: 20px;
    font-style: italic;
}

.price {

    color: #9A7614;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

.description {

    color: #5F5A50;

    font-family: Arial, sans-serif;

    font-size: 14px;
}

.book img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: #e6caca;
}